<footer>
  <div class="container">
    <p>this stupid thing brought to you by<a href="http://thomasphorton.com"> Tom Horton</a></p>
    <p>author of the<a href="http://tweetakeet.herokuapp.com"> @tweetakeet</a>.</p>
  </div>
</footer>
