doctype html
html
    head
        title= "Chat With Friends"
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/chat.js')
        script(src='/socket.io/socket.io.js')

        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")

        script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-28026409-2', 'stupidchatapp.herokuapp.com');ga('send', 'pageview');
        
    body

      header.navbar
        div.container
          div.navbar-header
            a.navbar-brand Chat With Friends

      div.container

        div.row
          #content.col-md-12
            #chat
        div.row
          div.controls.col-md-12

            div.form-group
              label(for="name") Name *
              input#name.form-control

            div.form-group
              label(for="message") Message
              textarea#field.form-control

            div.form-group
              button#send.btn.btn-default.btn-lg.btn-success Send

        div.row
          div.col-md-12
            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins.adsbygoogle(style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1334887216588590" data-ad-slot="4181118338")
           
            script adsbygoogle = (window.adsbygoogle || []).push({});