doctype html
html
    head
        title= "Chat With Friends"
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/chat.js')
        script(src='/socket.io/socket.io.js')

        script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        script adsbygoogle = (window.adsbygoogle || []).push({});
    body

      header.navbar
        div.container
          div.navbar-header
            a.navbar-brand Chat With Friends

      div.container

        div.row
          #content.col-md-12
            #chat
        div.row
          div.controls.col-md-12

            div.form-group
              label(for="name") Name
              input#name.form-control

            div.form-group
              label(for="message") Message
              textarea#field.form-control

            div.form-group
              button#send.btn.btn-default.btn-lg.btn-success Send

        div.row
          div.col-md-12
            ins.adsbygoogle(style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1334887216588590" data-ad-slot="4181118338")