<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src='/js/underscore-min.js'></script>
    <script src='/js/backbone-min.js'></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  </head>
  <body>
    <header class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Chat With Friends</a>
        </div>
      </div>
    </header>
    
    <div class="container" id="app-container">
      
      <h1>Your Account is Awaiting Verification</h1>

      

      <span>Don't want to verify your account right now? <a href="/c/chat?guest=true">Continue as a Guest</a></span>

    </div>
    
  </body>
</html>