.navbar-header {
  width: 100%;
}

.user-buttons {
  margin-top: 10px;
}

#content {
  height: 400px;
  margin-bottom: 10px;
}

#chat {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 100%;
  overflow-y: scroll;
}

.name-control-group {
  position: relative;
}

.name-clear {
  position: absolute;
  top: 50%;
  right: 10px;
}

.post-type-tabs .tab-pane {
  margin-top: 15px;
}

footer {
  margin-top: 3em;
  border-top: 1px solid #EEE;
  padding: 1em 0;
  text-align: center;
}

@media
  only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (max-device-height: 640px) and (min-device-height: 560px),
  only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (max-device-width: 640px) and (min-device-width: 560px) {
  #content {
    height: 300px;
  }
}
