#content {
  height: 400px;
  margin-bottom: 10px;
}

#chat {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 100%;
  overflow-y: scroll;
}
@media
    only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (max-device-height: 640px) and (min-device-height: 560px),
    only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (max-device-width: 640px) and (min-device-width: 560px) {
    #content {
      height: 300px;
    }
}